/* Overall body styling */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #F6F6F6;
}

h1 {
    text-align: center;
    color: #AAAAAA;
}

/*---------------------------------------------------------------------*/

/* Styles for the search input */
input[type="text"] {
    width: 300px;
    height: 30px;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 5px;
    border: 2px solid #FFC7C7;
    border-radius: 5px;
}

/*---------------------------------------------------------------------*/

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #FFFFFF;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

/* Table header styling */
th {
    background-color: #FFC7C7;
    color: black;
    text-align: left;
    padding: 12px 15px;
    border-bottom: 1px solid #FFE2E2;
}

/* Table body row and cell styling */
td {
    padding: 12px 15px;
    border-bottom: 1px solid #F6F6F6;
}

/* Hover effect for rows */
tr:hover {
    background-color: #FFE2E2;
}

/* Styling the header to emphasize */
b {
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
    color: #AAAAAA;
}

/* Styling the header for sorting*/
.sort-arrow {
    display: inline-block;
    width: 10px;
    height: 10px;
}

.sort-arrow::before {
    content: '';
    display: inline-block;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.sort-arrow.asc::before {
    border-bottom: 5px solid #AAAAAA; /* Arrow pointing up */
}

.sort-arrow.desc::before {
    border-top: 5px solid #AAAAAA; /* Arrow pointing down */
}

/*---------------------------------------------------------------------*/

/* Nav styling */
.nav {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Styling for each navigation button */
.nav button {
    background-color: #FFC7C7; 
    color: black; 
    padding: 10px 20px; 
    margin: 0 5px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.2s; 
}

/* Hover effects */
.nav button:hover {
    background-color: #FFE2E2;
    transform: scale(1.05); 
}

/* Active/Focused button styling */
.nav button:active, .nav button:focus {
    outline: none; 
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.75);
}

a {
    color: blue; 
    text-decoration: none; 
}

a:hover {
    text-decoration: underline; 
    color: darkblue; 
}
